<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>


<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de Clientes</h1>
        <input type="text" placeholder="Nombre Cliente" value="{{String::input}}"/>
        <button on-click="anadirCliente">Añadir Cliente</button>
        <button on-click="obtenerClientes">Obtener Clientes</button>
        <table>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.idcliente]]
                </td>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>

      </div>

    </div>

  </template>

  <script>


    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET","http://localhost:3002/movimientos",false);
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
      }
      anadirCliente(){
        var request = new XMLHttpRequest();
        request.open("POST", "http://localhost:3002/movimientos", false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var nuevoCliente = {"idcliente":"4444","nombre":"Andre","apellido":"Granados"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta)
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
